<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">


	<servlet>

		<servlet-name>RoleCtl</servlet-name>
		<servlet-class>in.co.sunrays.ocha.controller.RoleCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RoleCtl</servlet-name>
		<url-pattern>/ctl/RoleCtl.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MyProfileCtl</servlet-name>
		<servlet-class>in.co.sunrays.ocha.controller.MyProfileCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyProfileCtl</servlet-name>
		<url-pattern>/ctl/MyProfileCtl.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ForgetPasswordCtl</servlet-name>
		<servlet-class>in.co.sunrays.ocha.controller.ForgetPasswordCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForgetPasswordCtl</servlet-name>
		<url-pattern>/ctl/ForgetPasswordCtl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ChangePasswordCtl</servlet-name>
		<servlet-class>in.co.sunrays.ocha.controller.ChangePasswordCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangePasswordCtl</servlet-name>
		<url-pattern>/ctl/ChangePasswordCtl.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RoleListCtl</servlet-name>
		<servlet-class>in.co.sunrays.ocha.controller.RoleListCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RoleListCtl</servlet-name>
		<url-pattern>/ctl/RoleListCtl.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginCtl</servlet-name>
		<servlet-class>in.co.sunrays.ocha.controller.LoginCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginCtl</servlet-name>
		<url-pattern>/ctl/LoginCtl</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>CollegeCtl</servlet-name>
		<servlet-class>in.co.sunrays.ocha.controller.CollegeCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CollegeCtl</servlet-name>
		<url-pattern>/ctl/CollegeCtl.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CollegeListCtl</servlet-name>
		<servlet-class>in.co.sunrays.ocha.controller.CollegeListCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CollegeListCtl</servlet-name>
		<url-pattern>/ctl/CollegeListCtl.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserCtl</servlet-name>
		<servlet-class>in.co.sunrays.ocha.controller.UserCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserCtl</servlet-name>
		<url-pattern>/ctl/UserCtl.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserListCtl</servlet-name>
		<servlet-class>in.co.sunrays.ocha.controller.UserListCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserListCtl</servlet-name>
		<url-pattern>/ctl/UserListCtl.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserRegistrationCtl</servlet-name>
		<servlet-class>in.co.sunrays.ocha.controller.UserRegistrationCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserRegistrationCtl</servlet-name>
		<url-pattern>/ctl/UserRegistrationCtl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>StudentCtl</servlet-name>
		<servlet-class>in.co.sunrays.ocha.controller.StudentCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentCtl</servlet-name>
		<url-pattern>/ctl/StudentCtl.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>StudentListCtl</servlet-name>
		<servlet-class>in.co.sunrays.ocha.controller.StudentListCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentListCtl</servlet-name>
		<url-pattern>/ctl/StudentListCtl.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MarksheetCtl</servlet-name>
		<servlet-class>in.co.sunrays.ocha.controller.MarksheetCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MarksheetCtl</servlet-name>
		<url-pattern>/ctl/MarksheetCtl.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MarksheetListCtl</servlet-name>
		<servlet-class>in.co.sunrays.ocha.controller.MarksheetListCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MarksheetListCtl</servlet-name>
		<url-pattern>/ctl/MarksheetListCtl.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GetMarksheetCtl</servlet-name>
		<servlet-class>in.co.sunrays.ocha.controller.GetMarksheetCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetMarksheetCtl</servlet-name>
		<url-pattern>/ctl/GetMarksheetCtl.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MarksheetMeritListCtl</servlet-name>
		<servlet-class>in.co.sunrays.ocha.controller.MarksheetMeritListCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MarksheetMeritListCtl</servlet-name>
		<url-pattern>/ctl/MarksheetMeritListCtl.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>WelcomeCtl</servlet-name>
		<servlet-class>in.co.sunrays.ocha.controller.WelcomeCtl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WelcomeCtl</servlet-name>
		<url-pattern>/ctl/WelcomeCtl</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>VailidatorCtl</filter-name>
		<filter-class>in.co.sunrays.ocha.controller.VailidatorCtl</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>VailidatorCtl</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>


	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>